$main-color: #e5a8a6;
$sub-color: #bb254a;
$background-color: #fbf8f3;

@font-face {
  font-family: "GowunBatang";
  src: url(../assets/font/GowunBatang-Regular.ttf);
}

//최상위 div
.App {
  height: 100vh;
  position: relative;
  font-family: "GowunBatang";
  background-color: $background-color;
  overflow-x: hidden;
}

// contents와 navigation으로 구분
.contents {
  height: calc(100vh - 48px);
  position: relative;
  display: flex;
  flex-direction: column;
  .Mainheader {
    height: 80px;
    padding-top: 12px;
    margin: 0px 8px;
    //HOME 헤더
    .SimpleCalendar {
      display: flex;
      flex-direction: row;
      width: -webkit-fill-available;
      align-items: baseline;

      & > * {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      }

      & > :nth-child(1) {
        font-size: 36px;
        font-weight: 600;
        flex: 1;
      }

      & > :nth-child(2) {
        flex: 2;
        justify-content: space-around;
        align-items: baseline;

        & > #selectedDay {
          background-color: $sub-color;
          color: white;
          font-size: 32px;
          border-radius: 50%;
          padding: 0px 8px;
        }
      }

      & > :nth-child(3) {
        font-size: 18px;
        font-weight: 600;
        flex: 1;
      }
    }
  }
  #homeContents {
    margin: 0px 16px;
    max-height: calc(100vh - 220px);
    overflow: scroll;

    .list {
      border-left: 1px solid #dadada;
      margin-left: 4px;

      .element {
        margin-left: 8px;
      }
    }
  }

  // Home에서 쓰이는 Input 박스 떠있어야하는 영역
  .InputBox {
    position: absolute;
    bottom: 0;
    margin: 16px;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    border: 1px solid black;
    font-size: 22px;
    padding: 8px;
    border-radius: 12px;
    background-color: white;

    & > :nth-child(1) {
      flex: 1;
      background-color: $main-color;
      border-radius: 12px;
      font-size: 18px;
      padding: 4px 8px;
      margin-right: 4px;
    }

    & > :nth-child(2) {
      border: none;
      background: transparent;
      flex: 6;
      font-family: inherit;
    }

    input:focus {
      outline: none;
    }

    & > :nth-child(3) {
      font-weight: 600;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  // Home에서 쓰이는 CalendarToggle 떠있는 영역
  .CalendarToggle {
    background-color: $main-color;
    width: fit-content;
    border-radius: 50% 0 0 50%;
    position: absolute;
    padding: 10px 0;
    top: 45%;
    right: 0;
    color: white;
    transition: padding 0.5s;
  }
  .zoom {
    padding: 10px 6px;
    transition: padding 0.5s;
  }
}

.Navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  border: 1px solid $main-color;
  background-color: $main-color;
  height: 48px;
}

.NavigatorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 0 8px;
  align-items: center;
  & > * {
    flex: 1;
  }

  & > :nth-child(1) {
    font-size: 24px;
    font-weight: 600;
  }

  & > :nth-child(3) {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}

.smallHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

#friendsContents {
  max-height: calc(100vh - 120px);
  overflow: scroll;
}

.FriendsToggleHead {
  width: 100%;
  height: 40px;
  background-color: $main-color;
  border-radius: 4px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > :nth-child(1) {
    flex: 1;
  }

  & > :nth-child(2) {
    flex: 10;
  }
}

.DeleteButton {
  width: 25px;
  height: 20px;
  background-color: $sub-color;
  color: white;
  border: 1px solid $sub-color;
  border-radius: 8px;
  margin-right: 4px;
}

.CheckButton {
  width: 25px;
  height: 20px;
  background-color: #4cd964;
  color: white;
  border: 1px solid #4cd964;
  border-radius: 8px;
  margin-right: 4px;
}

@keyframes slide {
  from {
    height: 0px;
  }
  to {
    height: 130px;
  }
}

.FriendsToggleBody-true {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 0 0 8px 8px;
  height: 130px;
  overflow: hidden;

  transition: height 0.5s, transform 0.5s;
}

.FriendsToggleBody-false {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 0px;
  overflow: hidden;

  transition: padding-top 0.5s, padding-bottom 0.5s, height 0.5s, transform 0.5s;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 16px;
  border-bottom: 1px solid #777;
}
.profileImgDiv {
  border-radius: 100px;
  background-color: #777;
  width: 80px;
  height: 80px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;

  .profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.introduce {
  margin-top: 8px;
  font-size: 12px;
}

.ColumnText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .textTitle {
    font-weight: bold;
  }

  .textContent {
    font-weight: 400;
  }
}

.PostHeader {
  display: flex;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;

  .linkText {
    text-decoration: underline;
  }
}

.PostDiv {
  width: 100%;
  align-self: center;
  position: absolute;
  bottom: 10%;
  text-align: center;
}

.ChipDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid $sub-color;
  border-radius: 15px;
  padding: 2px;
  width: 60px;
  margin-left: 8px;
}

.marginDiv {
  margin: 0 16px;
}

.tileText {
  display: block;
  font-size: 24px;
  padding: 16px 0;
  border-bottom: 1px solid #d9d9d9;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(251, 248, 243, 0.5);
  z-index: 2;

  .postContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $sub-color;
    width: 80vw;
    height: 70vh;
    word-break: break-all;
    padding: 0 8px;

    & > :nth-child(3) {
      position: absolute;
      bottom: 0;
      margin: 8px;
      align-self: flex-end;
    }
  }

  .closeBtn {
    position: absolute;
    right: 10vw;
    top: 12vh;
    border: none;
    background: none;
    box-sizing: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  width: 80vw;
  height: 40vh;

  .modalMessage {
    position: fixed;
    top: 30%;
    text-align: center;
  }

  .modalButton {
    display: flex;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 60px;

    & > button {
      flex: 1;
    }
  }

  .textBtnDiv {
    display: inline-flex;
    margin-left: auto;
  }
}

.TextButton {
  width: 40px;
  height: 20px;
  text-align: center;
  color: $main-color;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  border: 1px solid $sub-color;
  border-radius: 10px;
  margin-bottom: 8px;

  & > :nth-child(1) {
    flex: 1;
  }

  & > :nth-child(2) {
    flex: 4;
  }

  .cardImgDiv {
    border-radius: 10px;
    background-color: #777;
    width: 80px;
    height: 80px;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;

    .cardImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardContents {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .limitText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.ToastPopUpContainer {
  background-color: white;
  height: 40vh;
  width: 100vw;
  position: fixed;
  padding: 10px;
  top: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);

  & > * {
    margin-right: 18px;
  }

  & > :nth-child(1) {
    align-self: flex-end;
    font-weight: 600;
  }
  .customfieldset {
    border: none;
    text-align: center;
    margin: 8px 0;
    .none_input {
      display: none;
    }
    .customRadio {
      border: 1px solid #777;
      padding: 4px 8px;
      background-color: #ccc;

      &:active {
        background-color: #777;
        transition: all 0.2s;
      }
    }
    .radioCheck {
      background-color: white;
      border: 1px solid black;
      transition: all 0.3s;
    }
  }
}

.toastOpen {
  top: 60%;
}

.searchBar {
  width: -webkit-fill-available;
  border: 1px solid black;
  font-size: 22px;
  margin: 16px 0;
  border-radius: 12px;
  background-color: white;
  display: inline-flex;
  padding: 8px 8px;
}

.blankInput {
  border: none;
  background: transparent;
  flex: 6;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

.addTileDiv {
  margin-top: 16px;
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
}

.BadgeContainer {
  position: relative;
  display: block;

  .supDot {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    height: 20px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    background-color: #f44;

    &.noti {
      padding: 0px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.CalendarGridDay {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.CalendarGrid {
  width: inherit;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.floatingButton {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $sub-color;
  bottom: 20px;
  right: 15px;
  text-align: center;
}

.TabHeader {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0;

  .tab {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.2s;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $sub-color;

      color: black;
    }
  }
}
