$main-color: #e5a8a6;
$sub-color: #bb254a;
$background-color: #fbf8f3;

@font-face {
  font-family: "GowunBatang";
  src: url(../assets/font/GowunBatang-Regular.ttf);
}

.test {
  color: $main-color;
}

.App {
  height: 100vh;
  font-family: "GowunBatang";
}

.contents {
  background-color: $background-color;
  height: 93vh;
  position: relative;

  .InputBox {
    position: absolute;
    bottom: 0;
    margin: 16px;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    border: 1px solid black;
    font-size: 22px;
    padding: 8px;
    border-radius: 12px;

    & > :nth-child(1) {
      flex: 1;
      background-color: $main-color;
      border-radius: 12px;
      font-size: 18px;
      padding: 4px 8px;
      margin-right: 4px;
    }

    & > :nth-child(2) {
      border: none;
      background: transparent;
      flex: 6;
      font-family: inherit;
    }

    input:focus {
      outline: none;
    }

    & > :nth-child(3) {
      font-weight: 600;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .CalendarToggle {
    background-color: $main-color;
    width: fit-content;
    border-radius: 300px 0 0 300px;
    position: absolute;
    padding: 10px 0;
    top: 45%;
    right: 0;
    color: white;
  }
}

.Navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: -webkit-fill-available;
  border: 1px solid $main-color;
  background-color: $main-color;
}

.NavigatorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.container {
  margin: 0px 8px;

  .SimpleCalendar {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    align-items: baseline;

    & > * {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }

    & > :nth-child(1) {
      font-size: 36px;
      font-weight: 600;
      flex: 1;
    }

    & > :nth-child(2) {
      flex: 2;
      justify-content: space-around;
      align-items: baseline;

      & > #selectedDay {
        background-color: $sub-color;
        color: white;
        font-size: 32px;
        border-radius: 50%;
        padding: 0px 8px;
      }
    }

    & > :nth-child(3) {
      font-size: 18px;
      font-weight: 600;
      flex: 1;
    }
  }
}
